
<div class="container">
    <!-- Top Navigation -->
    <div class="codrops-top clearfix">
        <a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/codrops/2012/08/29/multiple-area-charts-with-d3-js/"><span>Previous Demo</span></a>
        <span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/2012/09/03/bookblock-a-content-flip-plugin/"><span>Back to the Codrops Article</span></a></span>
    </div>
    <header>
        <h1>BookBlock <span>A Content Flip Plugin</span></h1>	
        <nav class="codrops-demos">
            <a class="current-demo" href="index.html">Demo 1</a>
            <a href="index2.html">Demo 2</a>
            <a href="index3.html">Demo 3</a>
            <a href="index4.html">Demo 4</a>
            <a href="index5.html">Demo 5</a>
        </nav>
    </header>
    <div class="main clearfix">
        <div class="bb-custom-wrapper">
            <h3>Illustrations by <a href="http://dribbble.com/kevinhowdeshell">Kevin Howdeshell</a></h3>
            <div id="bb-bookblock" class="bb-bookblock">
                <div class="bb-item" id="item1">
                    <div class="content">
                        <div class="scroller">
                            <h2>Self-destruction</h2>
                            <p>The Hon. Francis Gillette, in a speech in Hartford, Conn., in 1871, said
                            that there was "in Connecticut, on an average, one liquor shop to every
                            forty voters, and three to every Christian church. In this city, as stated
                            in the _Hartford Times_, recently, we have five hundred liquor shops, and
                            one million eight hundred and twenty-five thousand dollars were, last
                            year, paid for intoxicating drinks. A cry, an appeal, came to me from the
                            city, a few days since, after this wise: 'Our young men are going to
                            destruction, and we want your influence, counsel, and prayers, to help
                            save them.'"</p>  </div>
                    </div>
                </div>
                <div class="bb-item" id="item2">
                    <div class="content">
                        <div class="scroller">
                            <h2>Why we die</h2>
                            <p>But few of the human race die of old age. Besides the thousand and one
                            diseases flesh is heir to, and the disease which Mrs. O'Flannagan said her
                            husband died of, viz., "Of a Saturday 'tis that poor Mike died," very many
                            die of disappointment. More _fret_ out. Mr. Beecher said, "It is the
                            fretting that wears out the machinery; friction, not the real wear."</p>
    
                             </div>
                    </div>
                </div>
                <div class="bb-item" id="item3">
                    <div class="content">
                        <div class="scroller">
                            <h2>The honeymoon</h2>
                            <p>The origin of the honeymoon is not generally known.</p>
    
                            <p>The Saxons long and long ago got up the delightful occasion. Amongst the
                            ancient Saxons and Teutons a beverage was made of honey and water, and
                            sometimes flavored with mulberries. This drink was used especially at
                            weddings and the after festivals. These festivals were kept up among the
                            nobility sometimes for a month--"monath." The "hunig monath" was thus
                            established, and the next moon after the marriage was called the
                            honeymoon.</p>
      </div>
                    </div>
                </div>
                <div class="bb-item" id="item4">
                    <div class="content">
                        <div class="scroller">
                            <h2>A drawing joke</h2>
                            <p>Several kings and great lords are made mention of as being particularly
                            fond of using the lancet. Peter the Great of Russia was remarkably fond of
                            witnessing dissections and surgical operations. He even used to carry a
                            case of instruments in his pocket. He often visited the hospitals to
                            witness capital operations, at times assisting in person, and was able to
                            dissect properly, to bleed a patient, and extract a tooth as well as one
                            of the faculty.</p>
       </div>
                    </div>
                </div>
                <div class="bb-item" id="item5">
                    <div class="content">
                        <div class="scroller">
                            <h2>Commencing practice</h2>
                            <p>From that excellent work, "Scenes in the Practice of a New York Surgeon,"
                            by Dr. E. H. Dixon, I copy, with some abbreviation, the following, which
                            the author terms "Leaves from the Log-book of an Unfledged Æsculapian:"--</p>
      </div>
                    </div>
                </div>
                <!-- <div class="bb-item">
                    <a href="javascript:void(0)"><img src="../assets/plugins/BookBlock/images/demo1/1.jpg" alt="image01"/></a>
                </div>
                <div class="bb-item">
                    <a href="javascript:void(0)"><img src="../assets/plugins/BookBlock/images/demo1/2.jpg" alt="image02"/></a>
                </div>
                <div class="bb-item">
                    <a href="javascript:void(0)"><img src="../assets/plugins/BookBlock/images/demo1/3.jpg" alt="image03"/></a>
                </div>
                <div class="bb-item">
                    <a href="javascript:void(0)"><img src="../assets/plugins/BookBlock/images/demo1/4.jpg" alt="image04"/></a>
                </div>
                <div class="bb-item">
                    <a href="javascript:void(0)"><img src="../assets/plugins/BookBlock/images/demo1/5.jpg" alt="image05"/></a>
                </div> -->
            </div>
            <nav>
                <a id="bb-nav-first" href="javascript:void(0)" class="bb-custom-icon bb-custom-icon-first">First page</a>
                <a id="bb-nav-prev" href="javascript:void(0)" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
                <a id="bb-nav-next" href="javascript:void(0)" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
                <a id="bb-nav-last" href="javascript:void(0)" class="bb-custom-icon bb-custom-icon-last">Last page</a>
            </nav>
        </div>
    </div>
</div>