<!-- <img class="img-fluid" src="../assets/1/title.png" style="width: 400px;" /><br />
<img class="img-fluid" src="../assets/1/smalltitle.png" style="width: 450px;margin-top: 15px;" />
<br />
<img class="img-fluid" src="../assets/1/play.png" (click)="redirectToBookshelf()" style="margin-top:50px; width: 100px;" /> -->


<!-- <h1 class="mb-4 pb-0">The Annual<br><span>Marketing</span> Conference</h1>
<p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>
<a href="javascript:void(0)" (click)="redirectToBookshelf()" class="glightbox play-btn mb-4"></a> -->

<!-- <h1 class="mb-4 pb-0" style="font-family: 'Sketch3D', Arial, Helvetica, sans-serif;">The Annual<br><span>Marketing</span> Conference</h1>
<p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>
<a href="javascript:void(0)" (click)="redirectToBookshelf()" class="glightbox play-btn mb-4"></a> -->

<!-- <h1 class="mb-4 pb-0" style="font-family: 'AgentOrange', Arial, Helvetica, sans-serif;">AESOPIAN</h1>
<p class="mb-4 pb-0">Aesop's fables and others</p>
<a href="javascript:void(0)" (click)="redirectToBookshelf()" class="glightbox play-btn mb-4"></a> -->



<section id="hero">

    <div id="scene" style="position: absolute !important; height: 100%; width: 100%; overflow: hidden;">
        <div data-depth="1.00" class="parallax-cloud cloud cloud1"><img src="assets/imgs/cloud1.png"></div>
        <div data-depth="0.60" class="parallax-cloud cloud cloud2"><img src="assets/imgs/cloud2.png"></div>
        <div data-depth="0.40" class="parallax-cloud cloud cloud3"><img src="assets/imgs/cloud2.png"></div>
    </div>
    
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">      
        <img class="img-fluid" src="assets/1/title.png" style="width: 400px;-webkit-filter: drop-shadow(0px 0px 15px #fff); filter: drop-shadow(0px 0px 15px #fff);" /><br />
<img class="img-fluid" src="assets/1/smalltitle.png" style="width: 450px;margin-top: 15px;-webkit-filter: drop-shadow(0px 0px 15px #fff); filter: drop-shadow(0px 0px 15px #fff);" />
<a href="javascript:void(0)" (click)="redirectToBookshelf()" class="img-fluid glightbox play-btn mb-4" style="margin: 50px auto;"></a>
    </div>
  </section>

