<div class="content">
    <div class="scroller"
        style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif">
        <h2
            style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif !important">
            Why we die</h2>
        <p>But few of the human race die of old age. Besides the thousand and one
            diseases flesh is heir to, and the disease which Mrs. O'Flannagan said her
            husband died of, viz., "Of a Saturday 'tis that poor Mike died," very many
            die of disappointment. More _fret_ out. Mr. Beecher said, "It is the
            fretting that wears out the machinery; friction, not the real wear."</p>

        <p>"Choked with passion" is no chimera; for passion often kills the
            unfortunate possessor of an irritable temper, sometimes suddenly. Care and
            over-anxiety sweep away thousands annually.</p>

        <p>Let us see how long a man should live. The horse lives twenty-five years;
            the ox fifteen or twenty; the lion about twenty; the dog ten or twelve;
            the rabbit eight; the guinea-pig six or seven years. These numbers all
            bear a similar proportion to the time the animal takes to grow to its full
            size. But man, of all animals, is the one that seldom comes up to his
            average. He ought to live a hundred years, according to this physiological
            law, for five times twenty are one hundred; but instead of that, he
            scarcely reaches, on the average, four times his growing period; the cat
            six times; and the rabbit even eight times the standard of measurement.
            The reason is obvious. Man is not only the most irregular and the most
            intemperate, but the most laborious and hard-worked of all animals. He is
            also the most irritable of all animals; and there is reason to believe,
            though we cannot tell what an animal secretly feels, that, more than any
            other animal, man cherishes wrath to keep it warm, and consumes himself
            with the fire of his secret reflections.</p>

        <p>"Age dims the lustre of the eye, and pales the roses on beauty's cheek;
            while crows' feet, and furrows, and wrinkles, and lost teeth, and gray
            hairs, and bald head, and tottering limbs, and limping, most sadly mar the
            human form divine. But dim as the eye is, pallid and sunken as may be the
            face of beauty, and frail and feeble that once strong, erect, and manly
            body, the immortal soul, just fledging its wings for its home in heaven,
            may look out through those faded windows as beautiful as the dewdrop of
            summer's morning, as melting as the tears that glisten in affection's eye,
            by growing kindly, by cultivating sympathy with all human kind, by
            cherishing forbearance towards the follies and foibles of our race, and
            feeding, day by day, on that love to God and man which lifts us from the
            brute, and makes us akin to angels."</p>

        <p><em>From <a href="http://www.gutenberg.org/ebooks/41595" target="_blank">"The Funny Side of
                    Physic"</a> by A. D. Crabtre</em></p>

        <br /><br /><br />
        <br />
        <br />
        <br />
    </div>
</div>