@font-face {
    font-family: "AgentOrange";
    src: local("AgentOrange"), url(./assets/fonts/AGENTORANGE.ttf) format("truetype");
}

@font-face {
    font-family: "Sketch3D";
    src: local("Sketch3D"), url('./assets/fonts/Sketch 3D.otf') format("opentype");
}