<div id="container" class="container">

    <div class="menu-panel" id="_mpanel">
        <h3>Table of Contents</h3>
        <ul id="menu-toc" class="menu-toc">
            <li class="menu-toc-current"><a href="#item0">All Stories</a></li>
            <li><a href="#item1">Top Rated Stories</a></li>
            <li><a href="#item3">Favourited By You</a></li>
            <li><a href="#item2">Bookmarked By You</a></li>
            
            <li><a href="#">Settings</a></li>
            <li><a href="#">Refresh Stories</a></li>
            
            <li><a href="#">Submit Stories</a></li>
        </ul>
    </div>

    <div class="bb-custom-wrapper">
        <div id="bb-bookblock" class="bb-bookblock">

            <div class="bb-item" id="item0">
                <div class="content cc">
                    <div class="scroller"
                        style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif; margin-top:40px">
                        
                        
<!--                        
                        <h2 style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif">Aesopian</h2>
 -->

                        

                        <div class="col-xs-12">
                            <h3 style="text-align:center;font-size:2em;margin-bottom: 40px;">Stories
                                & Fables - Index</h3>



                            <div class="row">
                                <div>Equities</div>
                                <div>
                                    <!-- 65% -->                                   
                                    <a class="tag">
                                        <img src="assets/imgs/icons/heart-open.png" style="height:100%">
                                        <img src="assets/imgs/icons/bookmark-open.png" style="height:100%; margin-left:15px">
                                    </a>
                                    <!-- <a>
                                        <img src="assets/imgs/icons/heart-closed.png" style="width:1.5em; height:1.5em">
                                        <img src="assets/imgs/icons/bookmark-closed.png" style="width:1.5em; height:1.5em">
                                     </a> -->
                                     <!-- 
                                      -->
                                </div>
                            </div>

                            <div class="row" *ngFor="let story of stories">
                                <div>{{story.title}}</div>
                                <div>
                                    <a class="tag">
                                        <img [ngClass]="story.isFavourited ? 'heart-closed' : 'heart-open'" style="height:100%">
                                        <img [ngClass]="story.isBookmarked ? 'bookmark-closed' : 'bookmark-open'" style="height:100%; margin-left:15px">
                                    </a>         
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div>The Town Mouse & the Country Mouse</div>
                                <div>
                                    <a class="tag">
                                        <img src="assets/imgs/icons/heart-closed.png" style="height:100%">
                                        <img src="assets/imgs/icons/bookmark-closed.png" style="height:100%; margin-left:15px">
                                    </a>         
                                </div>
                            </div> -->

                          

                        </div>
                        <br />
                        <br />
                        <br />
                        <br />



                    </div>
                </div>
            </div>


            <div class="bb-item" *ngFor="let story of stories" id="item{{story.id}}">
                <div class="content cc">
                    <div class="scroller no-scrollable"
                        style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif">
                        
                        
                        <div class="roshan-header">
                        
                        <h2
                            style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif !important">
                            {{story.title}} 

                            <!-- <a class="tag">
                                <img src="assets/imgs/icons/heart-open.png" style="height:100%;display: inline-block;  margin-left:25px;     vertical-align: middle;">
                                <img src="assets/imgs/icons/bookmark-closed.png" style="height:100%; margin-left:25px;display: inline-block; vertical-align: middle;">
                            </a> -->
                            
                            <!-- <span id="bb-nav-prev">&larr;</span>
                            <span id="bb-nav-next">&rarr;</span> -->
                        </h2>
                        <a class="tag">
                            <img (click)="addToFavourites(story)" [ngClass]="story.isFavourited ? 'heart-closed' : 'heart-open'" style="height:100%">
                            <img (click)="addToBookmarks(story)" [ngClass]="story.isBookmarked ? 'bookmark-closed' : 'bookmark-open'" style="height:100%; margin-left:15px">
                        </a></div>

                        <div class="graphic">
                            <img class="img-fluid no-scrollable" draggable="false" [src]="story.imgUrl" />
                        </div>

                        <div [innerHTML]="story.story"></div>

                        <p style="text-align: center !important;"><i>{{story.moral}}</i></p>
                        <br /><br />
                    </div>
                </div>
            </div>



            <div class="bb-item" id="item10">
                <div class="content" style="line-height: 100vh !important;top:0px !important">
                   


                        <h3 style="text-align:center;font-size:1.5em;">More stories coming soon...</h3>

                </div>
            </div>

          



            <div class="bb-item" id="item11">
                <div class="content cc">
                    <div class="scroller"
                        style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif; margin-top:40px">
                        
                        
<!--                        
                        <h2 style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif">Aesopian</h2>
 -->

                        

                        <div class="col-xs-12">
                            <h3 style="text-align:center;font-size:2em;margin-bottom: 40px;">Top Rated Stories</h3>



                            <div class="row">
                                <div>Equities</div>
                                <div>
                                    <!-- 65% -->                                   
                                    <a class="tag">
                                        <img src="assets/imgs/icons/heart-open.png" style="height:100%">
                                        <img src="assets/imgs/icons/bookmark-open.png" style="height:100%; margin-left:15px">
                                    </a>
                                    <!-- <a>
                                        <img src="assets/imgs/icons/heart-closed.png" style="width:1.5em; height:1.5em">
                                        <img src="assets/imgs/icons/bookmark-closed.png" style="width:1.5em; height:1.5em">
                                     </a> -->
                                     <!-- 
                                      -->
                                </div>
                            </div>

                            <div class="row" *ngFor="let story of stories">
                                <div>{{story.title}}</div>
                                <div>
                                    <a class="tag">
                                        <img [ngClass]="story.isFavourited ? 'heart-closed' : 'heart-open'" style="height:100%">
                                        <img [ngClass]="story.isBookmarked ? 'bookmark-closed' : 'bookmark-open'" style="height:100%; margin-left:15px">
                                    </a>         
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div>The Town Mouse & the Country Mouse</div>
                                <div>
                                    <a class="tag">
                                        <img src="assets/imgs/icons/heart-closed.png" style="height:100%">
                                        <img src="assets/imgs/icons/bookmark-closed.png" style="height:100%; margin-left:15px">
                                    </a>         
                                </div>
                            </div> -->

                          

                        </div>
                        <br />
                        <br />
                        <br />
                        <br />



                    </div>
                </div>
            </div>


            <div class="bb-item" id="item12">
                <div class="content cc">
                    <div class="scroller"
                        style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif; margin-top:40px">
                        
                        
<!--                        
                        <h2 style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif">Aesopian</h2>
 -->

                        

                        <div class="col-xs-12">
                            <h3 style="text-align:center;font-size:2em;margin-bottom: 40px;">Favourited By You</h3>



                            <div class="row">
                                <div>Equities</div>
                                <div>
                                    <!-- 65% -->                                   
                                    <a class="tag">
                                        <img src="assets/imgs/icons/heart-open.png" style="height:100%">
                                        <img src="assets/imgs/icons/bookmark-open.png" style="height:100%; margin-left:15px">
                                    </a>
                                    <!-- <a>
                                        <img src="assets/imgs/icons/heart-closed.png" style="width:1.5em; height:1.5em">
                                        <img src="assets/imgs/icons/bookmark-closed.png" style="width:1.5em; height:1.5em">
                                     </a> -->
                                     <!-- 
                                      -->
                                </div>
                            </div>

                            <div class="row" *ngFor="let story of stories">
                                <div>{{story.title}}</div>
                                <div>
                                    <a class="tag">
                                        <img [ngClass]="story.isFavourited ? 'heart-closed' : 'heart-open'" style="height:100%">
                                        <img [ngClass]="story.isBookmarked ? 'bookmark-closed' : 'bookmark-open'" style="height:100%; margin-left:15px">
                                    </a>         
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div>The Town Mouse & the Country Mouse</div>
                                <div>
                                    <a class="tag">
                                        <img src="assets/imgs/icons/heart-closed.png" style="height:100%">
                                        <img src="assets/imgs/icons/bookmark-closed.png" style="height:100%; margin-left:15px">
                                    </a>         
                                </div>
                            </div> -->

                          

                        </div>
                        <br />
                        <br />
                        <br />
                        <br />



                    </div>
                </div>
            </div>



            <div class="bb-item" id="item13">
                <div class="content cc">
                    <div class="scroller"
                        style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif; margin-top:40px">
                        
                        
<!--                        
                        <h2 style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif">Aesopian</h2>
 -->

                        

                        <div class="col-xs-12">
                            <h3 style="text-align:center;font-size:2em;margin-bottom: 40px;">Bookmarked By You</h3>



                            <div class="row">
                                <div>Equities</div>
                                <div>
                                    <!-- 65% -->                                   
                                    <a class="tag">
                                        <img src="assets/imgs/icons/heart-open.png" style="height:100%">
                                        <img src="assets/imgs/icons/bookmark-open.png" style="height:100%; margin-left:15px">
                                    </a>
                                    <!-- <a>
                                        <img src="assets/imgs/icons/heart-closed.png" style="width:1.5em; height:1.5em">
                                        <img src="assets/imgs/icons/bookmark-closed.png" style="width:1.5em; height:1.5em">
                                     </a> -->
                                     <!-- 
                                      -->
                                </div>
                            </div>

                            <div class="row" *ngFor="let story of stories">
                                <div>{{story.title}}</div>
                                <div>
                                    <a class="tag">
                                        <img [ngClass]="story.isFavourited ? 'heart-closed' : 'heart-open'" style="height:100%">
                                        <img [ngClass]="story.isBookmarked ? 'bookmark-closed' : 'bookmark-open'" style="height:100%; margin-left:15px">
                                    </a>         
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div>The Town Mouse & the Country Mouse</div>
                                <div>
                                    <a class="tag">
                                        <img src="assets/imgs/icons/heart-closed.png" style="height:100%">
                                        <img src="assets/imgs/icons/bookmark-closed.png" style="height:100%; margin-left:15px">
                                    </a>         
                                </div>
                            </div> -->

                          

                        </div>
                        <br />
                        <br />
                        <br />
                        <br />



                    </div>
                </div>
            </div>

            <div class="bb-item" id="item12">
                <div class="content cc">
                    <div class="scroller"
                        style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif; margin-top:40px">
                        
                        
<!--                        
                        <h2 style="font-family: 'Goudy Bookletter 1911', Georgia, Times New Roman, Times, serif">Aesopian</h2>
 -->

                        

                        <div class="col-xs-12">
                            <h3 style="text-align:center;font-size:2em;margin-bottom: 40px;">Credits</h3>



                            <div class="row">
                                <div>Equities</div>
                                <div>
                                    <!-- 65% -->                                   
                                    <a class="tag">
                                        <img src="assets/imgs/icons/heart-open.png" style="height:100%">
                                        <img src="assets/imgs/icons/bookmark-open.png" style="height:100%; margin-left:15px">
                                    </a>
                                    <!-- <a>
                                        <img src="assets/imgs/icons/heart-closed.png" style="width:1.5em; height:1.5em">
                                        <img src="assets/imgs/icons/bookmark-closed.png" style="width:1.5em; height:1.5em">
                                     </a> -->
                                     <!-- 
                                      -->
                                </div>
                            </div>

                            <div class="row" *ngFor="let story of stories">
                                <div>{{story.title}}</div>
                                <div>
                                    <a class="tag">
                                        <img [ngClass]="story.isFavourited ? 'heart-closed' : 'heart-open'" style="height:100%">
                                        <img [ngClass]="story.isBookmarked ? 'bookmark-closed' : 'bookmark-open'" style="height:100%; margin-left:15px">
                                    </a>         
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div>The Town Mouse & the Country Mouse</div>
                                <div>
                                    <a class="tag">
                                        <img src="assets/imgs/icons/heart-closed.png" style="height:100%">
                                        <img src="assets/imgs/icons/bookmark-closed.png" style="height:100%; margin-left:15px">
                                    </a>         
                                </div>
                            </div> -->

                          

                        </div>
                        <br />
                        <br />
                        <br />
                        <br />



                    </div>
                </div>
            </div>


<!-- whatwhywhere.org -->


        </div>

        <nav>
            <span id="bb-nav-prev">&larr;</span>
            <span id="bb-nav-next">&rarr;</span>
        </nav>

        <span id="tblcontents" class="menu-button">Table of Contents</span>

    </div>



</div>